body {
  font-family: Google Sans, arial, sans-serif;
  background-image: url("https://images.unsplash.com/photo-1473759417970-8adfd65beed2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1450&q=80");
}
.App {
  max-width: 600px;
  margin: 40px auto 10px auto;
}
.App footer{
  color: rgb(48, 49, 49);
  font-size: 12px;
}
a {
  color: rgb(48, 49, 49);
}