.WeatherForecast {
    text-align: center;
    color: #262627;
    font-size: 14px;
}
.WeatherForecast img{
    margin-top: -15px;
    height: 55px;
}
.WeatherForecast .WeatherForecast-temperatures{
    margin-top: -15px;
}
.WeatherForecast .WeatherForecast-max{
    margin-left: 5px;
}
.WeatherForecast .WeatherForecast-min{
    color: #2F3746;
    opacity: 0.8;
}

