.Weather {
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-image: linear-gradient(135deg, #615243 0%, #e2d1c3 100%);
  opacity: 0.8;
}
.Weather input {
box-shadow: rgb(69, 69, 71) 0px 8px 8px 0;
display: block;
border: none;
color: rgb(93, 94, 95);
background-color: #f3f3f3;
opacity: 0.8;
filter: alpha(opacity=80);
transition: all 200ms ease;
cursor: pointer;
line-height: 22px;         
}
.Weather input.btn {
opacity: 2;
color: #f3f3f3;  
background-color: #2F3746;
margin: 2px 0 10px 0; 
padding-left: 18px; 
padding-right: 18px;
}
.Weather button.Location {
box-shadow: rgb(107, 107, 109) 0px 8px 8px 0;
position:relative;
top: 23px;
float: right;
padding: 6px 28px;
border: none;
border-radius: 4px;
color: #f3f3f3;
background-color: #2F3746;
opacity: 0.6;
filter: alpha(opacity=80);
transition: all 200ms ease;
cursor: pointer;
line-height: 22px;   

}
.Weather h1 {
  color: #232324;
  font-weight: normal;
  font-size: 25px;
  line-height: 26px;
  margin-top: 30px; 
}
.Weather  ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  list-style: none;
  font-weight: normal;
  color: #2F3746;
  font-size: 14px;
  line-height: 16px;
}
.Weather li:first-letter {
  text-transform: capitalize;
}
.Weather .Temperature {
  color: #262627;
  font-weight: bold;
  font-weight: 400;
  font-size: 52px;
  line-height: 70px;
}
.Weather .Unit {
font-size: 15px;
font-weight: 400;
position: relative;
top: -20px;
}
.Weather a {
color: #f3f3f3;
text-decoration: none;
}

.Weather img {
    height: 70px;
    margin-top: 20px;
    display: inline-block;
}
.Weather .WeatherTemperature {
  position: relative;
  left: 60px;
  top: -70px;
}